#services{
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
}
.cards-main{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

#services-new-action{
    display: none;
}

@media (max-width: 960px) {
    #services{
        flex-direction: column-reverse;
        gap: 32px;
        padding-top: 2em;
    }
    .cards-main{
        padding: 0px;
        width: 90%;
        justify-content: center;
    }
    #services-new-action{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}