.Carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    border-radius: 8px;
    width: 80%;
    height: 30vh;
}
.carousel-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    padding: .5em;
    overflow: hidden;
}

.carousel-container.slide-transition {
    transition: transform 0.3s ease;
  }
  

.card-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content:baseline;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 .5em rgba(8, 7, 16, 0.6); 
}

.new-card-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content:baseline;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 .5em rgba(8, 7, 16, 0.6);  
    animation: aparecer .5s ease;
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.card-transition-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content:baseline;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 .5em rgba(8, 7, 16, 0.6);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
  }

  .card-transition-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content:baseline;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 .5em rgba(8, 7, 16, 0.6);
    transition: transform 0.5s ease;
    transform: translateX(100%);
    
  }

  .card-transition-right .card-text h3, p{
    animation: esmaecer 0.5s ease-in-out;
  }

  @keyframes esmaecer {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.card-text h3{
    font-size: 16px;
    font-weight: 600;
}

.card-text p{
    font-size: 12px;
    font-weight: 200;
    text-transform: lowercase;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 16vh;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra o contêiner */
  }

  .mobile-carousel-container{
    display: none;
  }

  .button-page{
    cursor: pointer;
  }
  .button-page:hover{
    animation: scale-button 1s ease-in-out;
  }

  @keyframes scale-button {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
      box-shadow: var(--box-shadow);
    }
    100% {
        transform: scale(1);
      }
  }
  

  
  @media (max-width: 960px) {
    .carousel-container{
        display: none;
    }
    .mobile-carousel-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1.5em;
        width: 100%;
        gap: 16px;
        overflow: hidden;
    }
    .mobile-carousel-container.slide-transition {
        transition: transform 0.3s ease;
      }
  }