#hero-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#Apresentacao img {
  height: 70vh;
}

@media (max-width: 960px) {
  #hero-container {
    padding-top: 3rem;
    flex-direction: column;
    gap: 0;
  }
}
