#hero-container{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#hero img{
    height: 70vh;
}




@media (max-width: 960px) {
    #hero-container{
        justify-content: center;
        gap: 0;
    }
    #hero {
        background-image: url('./assets/hero.png');
        background-size: cover;   
    }
    #hero img {
        display: none; /* Oculte a imagem se a imagem de fundo estiver ativa */
    }
}
