.Case{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Case-cover{
    width: 100%;
    height: 25vh;
    position: relative;
    align-items: center;
}

.Case-cover img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Case-cover-text{
    /* style={{ position: "relative", zIndex: 1 }} */
    position: relative;
    z-index: 1;
    color: white;
}

.Case-Data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
