
.CarouselItemIndicator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.commom-item{
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.special-item{
    transition: all 0.3s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}
