@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,900,');

*{
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
}

:root{
  --primary: #ffffff;
  --secundary: #000000;
  --secundary-2: #00000008;
  --tertiary: #f9e745;
  --quaternary:#e1347f;
  --quinary: #46C8E0;
  --box-shadow: 0 0 1.5rem rgba(0 0 0 / 0.1);
}

.App{
  display: flex;
  flex-direction: column;
}

#arrow-container{
  position: fixed;
  bottom: 0;
  width: 100%; 
}

#arrow-subcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
}

#arrow:hover{
  cursor: pointer;
  animation: scale 1s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    background-color: #ff006fda;
    box-shadow: var(--box-shadow);
  }
  100% {
      transform: scale(1);
    }
}
